* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: arial;
    line-height: 1.5;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.container {
    width: 65%;
    max-width: 1280px;
    margin: 0 auto;
    position: relative;
}

/*INIZIO PARTE FISSATA*/

.bg-chiaro {
    background-color: #f5f8fa;
}

.bg-chiaro.fissato {
    width: 100%;
    position: fixed;
    top: 0;
    border-bottom: 1px solid #cbd6e2;
    z-index: 99;
}

.fissato .container {
    height: 70px
    }

.fissato .dx {
    float: right;
    line-height: 70px;
}

.fissato li {
    float: left;
    list-style: none;
    padding: 0 16px;
}

.sx {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.sx a {
    text-decoration: none;
    color: #33475b;
}

.sx i {
    color: #33475b;
}
.dx i {
    color: #00a4bd;
}

.sx li:first-child {
    padding-left: 0;
    border-right: 1px solid #cbd6e2;
}

.dx li:last-child {
    padding-right: 0;
}

.btn-chiaro {
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0);
    color: #ff7a59;
    border: 1px solid #ff7a59;
    border-radius: 5px;
}

.btn-scuro {
    padding: 10px 20px;
    background-color: #ff7a59;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
}
/*FINE PARTE FISSATA*/

/*INIZIO FASCIA ALTA*/
.testa {
    height: 70px;
    position: relative;
    margin-top: 70px;
}

#logo {
    height: 50%;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

nav ul {
    float: right;
    line-height: 70px;
}

nav li {
    float: left;
    list-style: none;
    font-weight: bold;
    padding: 0 10px;
}

nav a {
    text-decoration: none;
    color: #33475b;

}

nav li:last-child {
    padding-right: 0;
}

/*FINE FASCIA ALTA*/

.bg-bianco {
    background-color: white;
}

.bg-rosa {
    background-image: linear-gradient(to top right, #fff3ee, #fff1ee);
    height: 600px;
    position: relative;
}

/*INIZIO BANNER*/

.bg-rosa img {
    max-height: 80%;
    position: absolute;
    bottom: -75px;
    right: 10%;
}

.bg-rosa .container {
    padding: 50px 0;
}

.banner {
    width: 40%;
    color: #33475b;
}

.banner p {
    margin: 20px 0;
}

h1 {
    font-size: 45px;
    line-height: 1.2;
}

.banner button {
    font-weight: bold;
    padding: 20px 40px;
}

/*FINE BANNER*/

.fascia {
    position: relative;
    height: 86px;
    background-color: #afebe4;
    z-index: 2;
    border-top: 2px solid #33475c;
    border-bottom: 2px solid #33475c;
}

/*INIZIO MAIN*/

main {
    background-color: #f5f8fa;
    padding: 40px 0;
    color: #33475c;
}

.cubo {
    width: 70%;
    text-align: center;
    margin: 0 auto;
}

.cubo img {
    height: 200px;
}

.box.ombrato {
    background-color: white;
    box-shadow: 0 0 11px #e1e5e9;
    margin: 40px 0;
}

.ombrato img {
    height: 100px;
    margin-bottom: 20px;
}

.box-img {
    width: 100%;
}

.cento {
    padding: 50px;
}

.trenta {
    width: 30%;
    text-align: center;
    float: left;
}

.settanta {
    width: 70%;
    float: left;
}

.settanta h4 {
    margin: 20px 0;
    display: inline-block;
}

.pop-fea i {
    color: #ff7a59;
}

.pop-fea li {
    float: left;
    list-style: none;
    margin-right: 20px;
}

.linea {
    display: inline-block;
    width: 60%;
    border: 1px solid #55697e;
}


.card {
    width: 30%;
    text-align: center;
    padding: 40px 15px 20px 15px;
    float: left;
}

.card p {
    margin-bottom: 40px;
}

.card ul {
    margin-bottom: 30px;

}

.card li {
    list-style: none;
    text-align: left;
}

.card i {
    color: #ff7a59;
}

.card h4 {
    margin: 20px 0;
}

.cards .card:nth-child(2) {
    margin-left: 5%;
    margin-right: 5%;
}

/*FINE MAIN*/

.gradient {
    background-color: #00b0b2;
    background-image: linear-gradient(to top right, #01a4bd, #00bca6);
    text-align: center;
    padding: 40px 0 40px 0;
    color: white;
}


/* INIZIO PARTE SFUMATA */

.griglia {
    width: 100%;
    margin-top: 40px;
}

.gri-quadro {
    height: 250px;
    width: calc(100% / 4);
    padding: 20px;
    float: left;
}

.gri-terzo {
    height: 70px;
    line-height: 70px;
    position: relative;
}

.numb::after {
    content: '+';
    position: absolute;
    font-size: 20px;
}

.numb {
    font-size: 50px;
    font-weight: bolder;
    position: relative;
}

.sopra {
    border-bottom: 1px solid white;
    border-left: 1px solid white;
}

.sotto {
    border-left: 1px solid white;
}

.sopra:first-child {
    border-left: none;
}

.sotto:nth-child(5) {
    border-left: none;
}

/* FINE PARTE SFUMATA */


.mini-container {
    width: 100%;
    padding: 40px;
    color: #33475c;
}

.cubetto {
    width: 30%;
    text-align: left;
    float: left;
    padding: 20px 130px 20px 20px;
}

.cubetto h2 {
    font-size: 35px;
}

.cubetto p {
    font-size: 14px;
    font-weight: lighter;
}

.loghetti {
    width: 70%;
    float: left;
    padding: 0 40px;

}

.logo {
    width: calc(100% / 4);
    float: left;
    padding: 20px;
    text-align: center;
}

.logo img {
    width: 90%;
}

.cta-bassa {
    width: 40%;
    height: 600px;
    padding: 10% 0;
    color: #33475c;
    float: left;

}

.cta-bassa button {
    font-weight: bold;
    padding: 20px 40px;
    margin: 40px 0;
}

.cta-bassa h2 {
    font-size: 30px;
    font-weight: bolder;
}

.cta-bassa p:last-child {
    font-size: 11px;
}

.img-cta {
    width: 60%;
    height: 500px;
    position: relative;
    float: left;
}

.img-cta img {
    height: 400px;
    position: absolute;
    right: 0;
    bottom: 20px;
}

/* INIZIO FOOTER */

footer {
    background-color: #33475b;
    color: #cbd6e2;
    padding: 40px 0;
}

.elenco {
    width: 25%;
    float: left;
    line-height: 200%;
}

.elenco ul {
    list-style: none;
}

.elenco li:first-child {
    font-weight: bold;
    font-size: 110%;
    margin-bottom: 15px;
    color: white;
}

.foot-medio {
    width: 100%;
    margin: 40px 0;
    position: relative;
}

.foot-medio ul {
    display: inline-block;
    list-style: none;
    margin: 0 auto;
}

.foot-medio li {
    float: left;
    margin: 0 15px;
    font-size: 140%;
}

.btn-spec {
    margin: 10px 0;
    padding: 10px 20px;
    background-color: #cbd6e2;
    color: #33475b;
    border: none;
    border-radius: 5px;
}

.social i {
    margin: 0 10px;
}

.foot-medio {
    border-bottom: 1px solid #cbd6e2;
    text-align: center;
}

.credits {
    float: left;
}

.legal {
    float: right;
}

.legal li {
    float: left;
    list-style: none;
    padding: 0 20px;
    font-weight: bolder;

}
