* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: arial;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.container {
    width: 80%;
    max-width: 1280px;
    /* height: 300px; */
    margin: 0 auto;
}

/*INIZIO PARTE FISSATA*/

.bg-chiaro {
    background-color: #f5f8fa;
}

.bg-chiaro.fissato {
    width: 100%;
    position: relative;
    top: 0;
    border-bottom: 1px solid #cbd6e2;
    z-index: 99;
}

.fissato .container {
    height: 70px
    }

.fissato .dx {
    float: right;
    line-height: 70px;
}

.fissato li {
    float: left;
    list-style: none;
    padding: 0 16px;
}

.sx {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.sx a {
    text-decoration: none;
    color: #33475b;
}

.sx i {
    color: #33475b;
}
.dx i {
    color: #00a4bd;
}

.sx li:first-child {
    padding-left: 0;
    border-right: 1px solid #cbd6e2;
}

.dx li:last-child {
    padding-right: 0;
}

.btn-chiaro {
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0);
    color: #ff7a59;
    border: 1px solid #ff7a59;
    border-radius: 5px;
}

.btn-scuro {
    padding: 10px 20px;
    background-color: #ff7a59;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
}
/*FINE PARTE FISSATA*/

/*INIZIO FASCIA ALTA*/
.testa {
    height: 70px;
    position: relative;
}

#logo {
    height: 50%;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

nav ul {
    float: right;
    line-height: 70px;
}

nav li {
    float: left;
    list-style: none;
    font-weight: bold;
    padding: 0 10px;
}

nav a {
    text-decoration: none;
    color: #33475b;
 
}

nav li:last-child {
    padding-right: 0;



/*FINE FASCIA ALTA*/

.bg-bianco {
    background-color: white;
}

.bg-rosa {
    background-color: #fff3ee;
}

main {
    background-color: #f5f8fa;
}

.gradient {
    background-color: #00b0b2;
    background-image: linear-gradient(to top right, #01a4bd, #00bca6);
}
